* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-size {
    font-size: 32px;
}

.text-size {
    font-size: 20px;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

/* Start Header */
.QKhanh_header {
    display: flex;
    background-color: #003CBF;
    height: 80px;
    border: none;
}

.QKhanh_logo {
    color: white;
    right: 0;
    height: 100%;
    line-height: 80px;
    padding: 0 30px;
    width: 70%;
    margin-right: 179px;
}

.QKhanh_nav {
    display: flex;
    justify-content: right;
    width: 30%;
    gap: 10px;
}

.QKhanh_logo a {
    font-size: 24px;
    color: #FFBF00;
}

.QKhanh_user {
    color: white;
    right: 0;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.QKhanh_user:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.QKhanh_cart {
    color: white;
    right: 0;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ccc;
    color: black;
}

.QKhanh_cart:hover {
    cursor: pointer;
}

/* End Header */

/* Start Content */
.QKhanh_content {
    background-color: white;
    display: flex;
}

.left-content {
    width: 20%;
    margin-right: 10px;
    margin-top: 20px;
    box-shadow: inset;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);

}

.left-content div {
    padding: 24px;
}

.left-content ul li {
    padding: 18px;
}

.left-content div:hover,
.left-content ul li:hover {
    cursor: pointer;
}

.selected {
    background-color: #1A75FF;
    color: white;
    pointer-events: none;
}

.selected-orderHistory {
    background-color: #BAFFFC;
    pointer-events: none;
}

.back-mainPage {
    background-color: #FFBF00;
    margin-bottom: 500px;
}

.left-content .back-mainPage:hover {
    background-color: #FFBF00;
    cursor: pointer;
}

.status-section {
    display: none;
}

.status-section li {
    list-style: disc;
    list-style-position: inside;
}

.right-content {
    width: 80%;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);

}

.right-content h1 {
    color: #0F4EA8;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    margin: 30px;
}

.right-content .product-table-header {
    display: flex;
    padding: 0 20px;
    background-color: #FFBF00;
    margin: 0 20px 12px;
    align-items: center;
    justify-content: center;
}

.right-content .other {
    margin: 10px;
    width: 15%;
    text-align: center;
}

.right-content .product-descript {
    width: 45%;
    margin: 10px;
    display: flex;
}

.right-content input {
    width: 20px;
    height: 25px;
}

.product-descript img {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
    margin-right: 10px;
}

.product-descript a {}

.order-item {
    height: 100px;
    background-color: #eee;
    margin: 20px 20px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-item .alter-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-item .alter-quantity input {
    width: 50px;
    height: 30px;
    text-align: right;
    font-size: 16px;
}

.order-item .alter-quantity button {
    width: 30px;
    height: 30px;
}

.footer-cart-actions {
    align-self: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    margin-left: -100px;
}

.footer-cart-actions button {
    border: none;
    padding: 8px 50px;
    color: white;
    margin-left: 100px;
    border-radius: 5px;
}

.footer-cart-actions button:hover {
    cursor: pointer;
}

.footer-cart-actions .delete:active {
    background-color: #C43C3C;
}

.footer-cart-actions .payment:active {
    background-color: #0F4EA8;
}

.delete {
    background-color: #E54444;
}

.payment {
    background-color: #1565D6;
}

/* End Content */